<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue-demo</title>
</head>
<body>
<div id="app">
  {{ message }}
  <input v-model="message">

  <button v-on:click="reverseMessage">Reverse Message</button>

  <input v-model="newTodo" v-on:keyup.enter="addTodo">
  <ul>
    <li v-for="todo in todos">
      <span>{{ todo.text }}</span>
      <button v-on:click="removeTodo($index)">X</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="../bower_components/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/vue-demo.js"></script>
</body>
</html>
